document {
    display: table;
    border-collapse: collapse;
    table-layout: auto;
    margin: 2em;

}

Row {
	display: table-row;
    text-align: left;
}

ClassNum, Date, Tag, Topic, Project, Notes {
    border-style: solid;
    border-width: 0.1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    display: table-cell;
    white-space: nowrap;
}

ClassNum, Date, Tag {
    width: 4.0em;
}

Topic, Project {
    width: 17.0em;
}

Notes {
    font-style: normal;
}

ClassNum {
    text-align: center;
}

Notes {
    width: 6.0em;
}

TopicTag {
    display: table-cell;
    background-color: white;
}

AltTopicTag {
    display: table-cell;
    background-color: #CFCFCF;
}

Lab {
    display: table-cell;
    font-style: italic;
    background: #FFCC99;
}

NonLab {
    display: table-cell;
    background: #DEEFF6;
}

Presentation {
    display: table-cell;
    background-color: #CFCFCF;
}
