document {
    display: table;
    border-collapse: collapse;
    border: 3px solid black;
    table-layout: auto;
    margin: 2em;
}

Row {
	display: table-row;
  	border-bottom: 1px solid black;
}

ClassNum, Date, Tag, Topic, Lab, Project, Notes {
	border: 1px solid black;
    display: table-cell;
    padding: 1em;
}

Topic {
	background: #DEEFF6;
}

Lab {
	background: #FFEBE0;
	font-style: italic;
}