fieldset legend {
  border: 3px groove #143153;
  border-radius: 5px;
  background: #CCFF99;
}

fieldset{
  width: 50%;
  border-radius: 10px;
  background: linear-gradient(to right, #477187, #6F90A2);
}
